<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавление нового пользователя</title>
  <style>
    .btn {
      display: inline-block; /* Строчно-блочный элемент */
      background: #be123a; /* Серый цвет фона */
      color: #fff; /* Белый цвет текста */
      padding: 0.5rem 1rem; /* Поля вокруг текста */
      text-decoration: none; /* Убираем подчёркивание */
      border-radius: 3px; /* Скругляем уголки */
    }
  </style>
</head>
<body>
<form th:method="POST" th:action="@{/admin/}" th:object="${newUser}">
  <label for="id">ID</label>
  <input name="id" type="text" id="id" th:field="*{id}">
  <br><br>
  <label for="name">First name</label>
  <input name="name" type="text" id="name" th:field="*{name}">
  <br><br>
  <label for="surname">Last name</label>
  <input name="surname" type="text" id="surname" th:field="*{surname}"/>
  <br><br>
  <label for="age">Age</label>
  <input name="age" type="text" id="age" th:field="*{age}"/>
  <br><br>
  <label for="email">Email</label>
  <input name="email" type="text" id="email" th:field="*{email}"/>
  <br><br>
  <label for="password">Password</label>
  <input name="password" type="password" id="password" th:field="*{password}"/>
  <br><br>
  <label for="username">Введите username: </label>
  <input name="username" type="text" id="username" th:field="*{username}">
  <br><br>
  <p>
    <label>Роли:
      <input type="checkbox" name="roles"
             th:each="role : ${roles}"
             th:text="${role.name}"
             th:value="${role.id}"
             th:checked="${newUser.roles.contains(role)}"
      />
    </label>
  </p>
  <input type="submit" value="Edit!"/>
</form>
<br>
<br>
<a th:href="@{/logout}" class="btn">Выйти</a>
<br>
</body>
</html>